.App {
    margin: 0 auto;
}

.loader {
    position: absolute;
    bottom: 60px;
    width: 100px;
    text-align: center;
    left: 43%;
}

.loader-text {
    font-size: 10px;
    color: #76DBD1;
    margin: 2px 0px 2px 0px;
}

.main-container {
    width: 100%;
    max-width: 770px;
    margin: 0px auto 0px auto;
    position: relative;
}

/* temporary put classes here */
.header-container {
    height: 72px;
    border-bottom: 1px solid #cccccc;
    display: flex;
}

.header-content-logo {
    width: 40%;
}

h1 {
    font-size: 32px;
}

.title-label {
    font-size: 13px;
    font-weight: 300;
    bottom: 5px;
    left: 2px;
    position: relative;
}

.logo-link {
    text-decoration: none;
    color: #555151;
    margin-bottom: 5px;
}

.logo-text {
    bottom: 5px;
    position: relative;
    font-weight: 700;
}

.logo-color-1 {
    color: #57A99A;
}

.logo-color-2 {
    color: #555151;
}

.header-content-navigation {
    margin-left: auto;
    width: 40%;
}

.navigation-links {
    display: flex;
    margin-top: 35px;
}

.navigation-links li {
    margin-left: auto;
    margin-right: 20px;
    list-style: none;
}

.navigation-links li a {
    color: #57A99A;
    text-decoration: none;
    display: none; /* dont display links until u set up routers*/
}

.navigation-links li a:hover {
    color: #555151;
}

.chat-content {
    min-height: 300px;
}

.grid-container {
    max-width: 770px;
}

.grid-column-1-2, .grid-column-1-3 {
    margin: 0;
    padding: 0;
}

.grid-column-1-2 {
    width: 49%;
}

.grid-column-1-3 {
    width: 32%;
}

.message-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.message-list li {
    display: flex;
    margin: 30px 0px;
}

.message-list li.bot {
    -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
    flex-direction: row-reverse; 
}

.bot .message-text  {
    border: 1px solid #cccccc;
    background-color: #FFFFFF;
    color: #555151;
}

.message-text {
    width: 360px;
    min-height: 20px;
    padding: 10px 10px;
    font-size: 14px;
    align-self: flex-start;
    border-radius: 10px;
    background-color: #555151;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    color: #ECF4F3;
    margin: 4px 10px;
}

.message-status {
    padding: 6px;
}

.message-status p {
    font-size: 11px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.bot .message-status {
    border-left: 1px solid #CCCCCC;
    border-right: 0px none;
}

.user .message-status {
    border-right: 1px solid #CCCCCC;
    border-left: 0px none;
}

.author-name, .message-time, .message-date {
    font-weight: 300;
}

.message-input-container {
    height: 85px;
    width: 100%;
    background-color: #ffffff;
    margin-top: 50px;
}

.form-control {
    margin-top: 40px;
    width: 85%;
}

.text-input {
    font-weight: 300;
    margin-top: 15px;
}

.message-input-container button {
    padding: 10px;
    margin-left: 20px;
    border-radius: 10px;
    border: 1px solid #76DBD1;
    text-transform: uppercase;
    font-size: 16px;
    color: #76DBD1;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
    background-color: #ffffff;
}

.message-input-container button:hover {
    opacity: 0.5;
}

.error-msg {
    position: relative;
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    left: 20px;
    width: 100%;
    top: 5px;
}

footer {
    margin-top: 20px;
}

.footer-text {
    text-align: right;
    font-size: 10px;
}

@media only screen and (max-width: 769px) {
    .header-content-logo {
        padding-left: 10px;
    }

    .text-input {
        margin-left: 20px;
    }

    .form-control {
         width: 80%;
    }

    .message-input-container button {
        right: 35px;
    }
}


@media only screen and (max-width: 558px) {
    .header-content-logo {
        width: 100%;
    }

    .loader {
        left: 40%;
    }

    .form-control {
        margin-left: 20px;
    }

    .text-input {
        margin-left: 20px;
    }

    .error-msg {
        width: 250px;
    }

    .message-input-container button {
        right: 10px;
    }
}

@media only screen and (max-width: 380px) {
    .text-input {
        margin-left: 20px;
    }

    .loader {
        left: 37%;
    }

    .message-input-container {
        height: 100px;
    }


    .message-input-container button {
        padding: 8px;
    }

    .form-control {
        width: 70%;
    }

}


