.App {
    max-width: 712px;
    margin: 0 auto;
}

.bot {
    border: 1px solid #cccccc;
    margin-left: 20px;
}

.loader {
    position: 'fixed';
    top: 100px;
    left: 150px;
}

/* temporary put classes here */

